body {
    margin:0;
}
img {
    position:fixed;
    width:100%;
    height:100%;
    object-fit:cover;
    visibility:hidden;
}

a {
text-decoration:none;
}

html {
    cursor:crosshair;
}

h1 {
    position:fixed;
    font-family: "Roboto";
   font-weight:700;
   font-size:75pt;
   left:115.5px;
   top:305px;
   margin:0;
   
   
}
h2 { 
    position:fixed;
    font-family: "Roboto";
    font-weight:400;
    font-size:75pt;
    left:115.5px;
    top:505px;
    width:600px;
    margin:0;
    line-height: 100%;
}
.links { 
    position:fixed;
    font-family: "Roboto";
    font-weight:400;
    font-size:75pt;
    margin:0;
    color:white;
    text-shadow: -5px 4px 10px rgba(0,0,0,0.88);
}

.links2 {
    position:fixed;
    color:black;
    font-family: "Roboto";
    font-weight:700;
    margin:0;
    font-size: 40pt;
    filter: blur(1px);
}

#web {
    right:115.5px;
    top:310px;
}
#graphic {
    right:115.5px;
    top:449px;
}
#fineArt {
    right:115.5px;
    top:592px;
}

#contact {
    left:115.5px;
    top:50;
}

#about {
    right:115.5px;
    top:50;
}